#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#selectable li {
    margin: 3px;
    padding: 1px;
    float: left;
    width: 100px;
    /*height: 80px; font-size: 4em; */
    text-align: center;
}

/*.imageHover:hover .nc-icon {*/
/*display: block;*/
/*}*/

.crop:hover .nc-scissors{
    display: none;
}

.nc-scissors {
    display: block;
}

.hidden {
    display: none;
}

.parent:hover .hidden {
    display: block;
}

