/*
  MY CUSTOM DROPZONE CSS
 */

#my-dropzone {
    display: block;
    margin: 0 auto;
    min-height: 250px!important;
    width: 100%;
    background-color: lightgray;
}

#my-dropzone img {
    max-width: 100%;
}